%btn_hover_effect {
    position: relative;
    padding: 8px 45px;
    background: $yellow_color;
    font: 500 18px/36px $main_font_family;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;

    &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 0px;
        transform: rotate(45deg);
        background: $white_color;
        transition: 1s all;
        opacity: 0.5;
    }

    &:hover {
        background: white;
        &::before {
            height: 300px;
            opacity: 0;
        }
    }
}


