// Fonts

$main_font_family: 'Barlow Condensed', sans-serif;
$second_font_family: "Roboto", sans-serif;

// Colors

$yellow_color: #fdb900;
$black_color: #212529;
$text_color_black:#485c6b; 
$white_color:rgb(255,255,255);
$dark_blue:#1A222B;



// Size
$text_size: 14px;
$menu_size: 18px;

